//============================
//    Name: Footer
//============================
myfooter {
	+__() {
		.background {
			background-color #56595a
		}
		.box {
			display: grid;
			grid-auto-flow: column	
			max-width 960px
			margin-left auto
			margin-right auto
			padding 60px 0 100px
			gap: 2rem;
			overflow hidden
			+media(991) {
				padding 3.75rem 1rem 6.25rem
			}
			+media(678) {
				grid-auto-flow: row
				gap: unset;
				padding 2rem 20px
			}
		}
		.item {
			display: block;
			gap: 2rem;
			word-break: break-word;
			color: #fff;
			column-fill: balance;
			column-count: 3;
			+media(991) {
				column-count: 2;
			}
			+media(678) {
				column-count unset
			}
		}
		.item:last-child  {
			column-count: auto;
		}
		.item p {
			color: #d9d9d9;
			font-setup(fmain, 12, 400);
			padding-bottom 23px
			width 217px
			+media(678) {
				width auto
			}
		}
		.image {
			width 220px
			margin-bottom 23px
		}
	}
}
 