//============================
//    Name: Header
//============================
myheader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 75rem;
			margin: auto;
			justify-content: start;
			padding 1rem 0
		}
		.section--background {
			background-color #0f0f0f
		}
		.item {
			display: grid;
		}
		.burger {
			justify-content: center;
			align-items: center;
		}
		.menu {
			display: grid;
			gap: 0.4rem;
			margin-left: -1rem;
			margin-right: 1rem;
			transition .25s __cubic
			cursor pointer
		}
		.menu-line {
			background-color #f1f1f1;
			color: #f1f1f1;
			height 4px
			width 33px
			transition .25s __cubic
		}
		.title {
			color: #f1f1f1;
		}
		.text {
			color: #f1f1f1;
		}
	}
}



mixHoverHumburger() {
	__deg = 44
	__width = 55%
	__trfX = -5px
	__trfY = 2px
	
	.myheader__menu-line:nth-child(1) {
		transform: rotate(- __deg deg) translate(__trfX, __trfY);
		width __width
	}
	.myheader__menu-line:nth-child(2) {
		transform: rotate(0deg);
	}
	.myheader__menu-line:nth-child(3) {
		transform: rotate( __deg deg) translate(__trfX, - __trfY);
		width __width
	}
}

.myheader__menu:hover {
	animation anima-rotate .45s forwards
	mixHoverHumburger();
	
}

+key(anima-rotate) {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(.58) rotate(-180deg);
	}
	100% {
		transform: scale(1) rotate(-360deg);
	}
}