//============================
//    Name: Main page
//============================

hero {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr auto;
			margin-left: auto;
			margin-right: auto;
			+media(991) {
				grid-auto-flow: row
			}
		}
	}
}

dude {
	+__() {
		.background {
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
			margin-right -1px
			+media(320) {
				background-position 60% center;
			}
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			margin-left: auto;
			margin-right: auto;
			margin 45px 81px
			+media(1199) {
				margin: 2.8125rem 1rem;
				align-items: center;
				justify-content: center;
			}
			+media(678) {
				margin 1rem
			}
			+media(320) {
				margin 2rem 0
			}
		}
		.header {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: auto 1fr
			gap: 155px;
			+media(1366) {
				gap: 3rem;
			}
		}
		.header-item {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: auto 1fr;
			align-items: center;
			justify-content: start;
			gap: 1rem;
		}
		.header-item:nth-child(2) {
			+media(678) {
				display none
			}
		}
		.header-item--hidden {
			display none
			+media(678) {
				display: grid;
				grid-auto-columns: auto;
				padding: 2rem 3rem 0;
				& span {
					font-size 15px
				}
			}
			+media(425) {
				padding 1rem 1rem 0
				& span {
					letter-spacing -.5px
				}
				& img {
					width: 38px;
					max-width: 100%;
				}
			}
		}
		.header-text {
			font-setup(fmain, 19, 300);
			color: #ffffff;
			line-height 24px
		}
		.bluebox {
			x = 35
			margin-top 123px
			display: grid;
			grid-auto-flow: row
			grid-auto-rows: max-content;
			justify-content: stretch;
			align-items: center;
			background-color rgba(#119ed9, 0.80);
			width 687 - (x * 2) px
			padding 19px (x px) 30px
			box-sizing: content-box;
			+media(678) {
				width auto
				margin-top 1rem
				padding 19px 1rem 30px
			}
			+media(320) {
				margin-top: 2rem;
			}
		}
		.bluebox-title {
			font-setup(fmain, 43, 300);
			color: #fff;
			line-height 100%
			+media(425) {
				font-setup(fmain, 26, 400);
			}
		}
		.bluebox-line {
			width auto
			height 4px
			background-color #fff;
			margin 19px 0;
			margin-left -35px
			+media(678) {
				margin-left -1rem
			}
			+media(425) {
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}
		.bluebox-text {
			font-setup(fmain, 15, 300);
			color: #fff;
			line-height: normal;
		}
		.bluebox-list-title {
			font-setup(fmain, 22, 300);
			color: #fff;
			margin 0
			margin-top 15px
		}
		.bluebox-list {
			margin 0
			margin-top 15px
			padding-left 35px
			list-style-type none
			display: grid;
			gap: 12px
		}
		.bluebox-list li {
			position relative;
			font-setup(fmain, 15, 400);
			color: #fff;
			&:before {
				content: '';
				display: grid;
				width: 14px;
				height: 14px;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #fff;
				radius: 100%;
				position: absolute;
				left -24px
				top 0
			}
			&:after {
				content: "";
				position: absolute;
				top: 4px;
				left: -22px;
				width: 8px;
				height: 3px;
				border-left: 2px solid #2a8fba;
				border-bottom: 2px solid #2a8fba;
				transform: rotate(-45deg);
				radius: 2px;
			}
		}
	}
}

signup {
	+__() {
		.background {
			background-color #000;
			background-position center right;
			background-repeat no-repeat;
			background-size: 80%;
			+media(991) {
				background-size: contain;
			}
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			grid-auto-rows: max-content;
			width: 401px;
			height 968px
			margin-left: auto;
			margin-right: auto;
			padding-left 46px
			padding-right 61px
			+media(678) {
				height auto
				margin 3rem auto
			}
			+media(425) {
				width auto
				padding 0 1rem
				margin-top 0
			}
		}
		.logo {
			width 295px
			height 218px
			display: grid;
			justify-content: center;
			align-items: center;
			+media(425) {
				width 100%
			}
		}
		.logo-text-p {
			font-setup(fmain, 30, 400);
			color: #fefefe;
			text-align center
		}
		.form {
			display: grid;
			justify-content: center;
			align-items: center;
			text-align center
		}
		.label {
			font-size 0
			margin-top 21px
		}
		.input {
			xcolor = #d7d7d7
			width 293px
			height 44px
			padding 6px 16px
			text-decoration none
			border none
			background-color xcolor;
			cursor pointer
			transition: .25s __cubic;
			+media(425) {
				width 100%
			}
			&:hover {
				background-color #fff;
			}
			&:focus {
				background-color #fff;
			}
		}
		.input::placeholder {
			text-align center
			color: #010101;
			font-setup(fmain, 18, 400);
		}
		.form-title {
			margin-top 60px
			font-setup(fmain, 55, 300);
			color: #fff;
			+media(425) {
				font-size 36px
				margin-top 40px
			}
		}
		.form-button {
			xcolor = #d50a51
			margin-top 21px
			width 293px
			height 44px
			padding 6px 16px
			font-setup(fmain, 20, 300);
			text-decoration none
			border none
			background-color xcolor;
			color: #fff;
			cursor pointer
			transition: .25s __cubic;
			+media(425) {
				width 100%
			}
			&:hover {
				background-color lighten(xcolor, 12%)
			}
			&:active {
				transform scale(.97)
			}
		}
		.checkbox-label {
			user-select none
			cursor pointer
			margin-top 29px
			color: #fff;
			font-setup(fmain, 13, 300);
			transition: .25s __cubic;
			position relative
			margin-left x = 7px
			&:before {
				content: '';
				display: grid;
				width: 15px;
				height: 15px;
				font-size: 1rem;
				line-height: 1;
				background-color: #d7d7d7;
				position: absolute;
				left - x
			}
			&:after {
				content: "";
				position: absolute;
				top: 4px;
				left: -20px;
				width: 12px;
				height: 6px;			
			}
			+media(425) {
				letter-spacing: -0.3px;
				margin-left: y = 1.5rem;
				&:before {
					left - y
				}
			}
		}
		.checkbox-input {
			visibility hidden
			width 0
			height 0
			font-size 0
		}
		.href {
			margin-top 37px
			text-decoration none
			color: #ffffff;
			font-setup(fmain, 14, 300);
			position relative
			&:before {
				content: '';
				display: grid;
				width: 71%;
				height: 1px;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.form-desc {
			margin-top 57px
			color: #ffffff;
			font-setup(fmain, 13, 300);
		}
	}
}

.signup__checkbox-input[type=checkbox]:checked + label:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -5.5px;
	width: 12px;
	height: 6px;
	border-left: 3px solid #dc1153;
	border-bottom: 3px solid #dc1153;
	transform: rotate(-45deg);
	+media(425) {
		left -1.45rem
	}
}

phone {
	+__() {
		.background {
			background-color #000000;
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
			margin-top: 100px;
			+media(678) {
				margin-top auto
			}
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 1044px;
			margin-left: auto;
			margin-right: 21.5%;
			height 330px
			gap: 2rem;
			padding 0 1rem
			+media(1199) {
				margin-right auto
			}
			+media(678) {
				margin auto
				padding .5rem 2rem 2rem
				height auto
			}
			+media(425) {
				padding .5rem 0 2rem
			}
		}
		.image {
			+media(575) {
				display: grid;
				justify-content: center;
				align-items: center;
			}
		}
		.group {
			margin-top 60px
			display: grid;
			grid-auto-flow: column
			justify-content: center;
			align-items: start;
			gap: 2rem;
			+media(768) {
				margin-top: 1.7rem;
			}
			+media(575) {
				grid-auto-flow: row
			}
		}
		.content {
			display: grid;
			grid-auto-flow: row;
			grid-auto-rows: auto 1fr
			gap: 35px;
			margin-top -8px
			+media(575) {
				text-align center
			}
			+media(425) {
				display none
				text-align: left;
				margin: auto 1rem;
				gap: 1rem;
			}
		}
		.content--hidden {
			display none
			+media(425) {
				display: grid;
			}
		}
		.content-button {
			display: grid;
			grid-auto-flow: column
			justify-content: end;
			align-items: center;
			margin-right 80px
			gap: 25px;
			+media(678) {
				justify-content: start;
			}
			+media(575) {
				justify-content: center;
				align-items: center;
				margin-right 0
			}
		}
		.content-title {
			font-setup(fmain, 30, 100);
			color: #fff;
		}
		.content-text {
			font-setup(fmain, 20, 100);
			color: #fff;
			line-height 1.3
		}
		.hand {
			margin-top -70px
			+media(678) {
				display none
			}
		}
	}
}

award {
	+__() {
		.background {
			background-color #d50a51;
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			align-items: start;
			gap: 180px;
			margin-top 60px
			margin-bottom 55px
			+media(1600) {
				gap: 3rem;
			}
			+media(1366) {
				grid-auto-flow: row
			}
			+media(575) {
				padding 0 1rem
			}
			+media(425) {
				margin 20px auto
			}
		}
		.group {
			display: grid;
			justify-content: center;
			align-items: center;
			gap: 50px;
			+media(425) {
				gap: 20px;
			}
		}
		.group--lite {
			gap: 24px;
			align-self: stretch;
		}
		.best-item img {
			+media(425) {
				max-width: 100%;
			}
		}
		.best-title, .quest-title {
			display: grid;
			justify-content: center;
			align-items: center;
			font-setup(fmain, 32, 300);
			color: #fff;
		}
		.best-title {
			+media(425) {
				font-setup(fmain, 16, 400);
			}
		}
		.best-group {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-auto-flow: column
			gap: 35px;
			+media(768) {
				gap: 20px;
				grid: auto \/ repeat(2, 1fr);
			}
			+media(425) {
				padding 0 30px
			}
		}
		.quest-text {
			font-setup(fmain, 14, 300);
			color: #fff;
			text-align center
			+media(425) {
				padding 0 1rem
			}
		}
		.quest-button {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-auto-flow: column;
			gap: 20px;
			+media(575) {
				grid-auto-flow: row
			}
		}
		.quest-live, .quest-demo {
			display: grid;
			justify-content: center;
			align-items: center;
			text-decoration none
			border 2px solid #fff;
			background-color #0000
			font-setup(fmain, 17, 100);
			color: #fff;
			cursor pointer
			transition: .25s __cubic;
			position relative
			width 288px
			height 55px
			+media(425) {
				max-width: 90%;
				margin: auto;
			}
		}
		.quest-live {
			&:hover, &:active {
				background-color lighten(#009cd4, 8%)
				border 2px solid darken(#009cd4, 8%);
				color: #fff;
				font-weight 600
				radius: 7px;
				font-size 18px;
				box-shadow: __shadowHover;
				transform translateY(-7px)
			}
			&:active {
				transform translateY(-2px)
			}
		}
		.quest-demo {
			border 1px solid #0000;
			background-color #737373;
			&:hover, &:active {
				background-color lighten(#dc1153, 8%)
				border 2px solid darken(#dc1153, 8%);
				color: #fff;
				font-weight 600
				radius: 7px;
				font-size 18px;
				box-shadow: __shadowHover;
				transform translateY(-7px)
			}
			&:active {
				transform translateY(-2px)
			}
		}
	}
}

team {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			align-items: center;
			gap: 66px;
			margin-top 50px
			+media(768) {
				gap: 1rem;
				padding: 0 2rem;
			}
			+media(575) {
				grid-auto-flow: row
			}
		}
		.item {
			display: grid;
			justify-content: start;
			align-items: center;
			grid-auto-flow: column;
			gap: 20px;
			position: relative;
			z-index: 3;
			+media(575) {
				justify-content: center;
				align-items: center;
			}
		}
		.item--image img {
			+media(425) {
				max-width 100%
				width 190px
				margin auto
			}
		}
		.text {
			font-setup(fmain, 17, 400);
			color: #000;
			+media(425) {
				font-size 11px
			}
		}
		.line {
			width 100%
			height 5px
			background-color #129edb;
			position absolute
			z-index 1
			bottom 0
		}
	}
}

risk {
	+__() {
		.background {
			background-color #000;
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 965px;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			align-items: start;
			gap: 40px;
			margin-top 30px
			margin-bottom 30px
			+media(991) {
				gap: 1rem;
			}
			+media(768) {
				grid-auto-flow: row
				gap: 2rem;
				padding: 0 20px;
			}
		}
		.item {
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;
			+media(425) {
				gap: .5rem;
			}
		}
		.text {
			color: #fefefe;
			font-setup(fmain, 12, 300);
			width 585px
			+media(678) {
				width auto
			}
			+media(425) {
				font-size 10px
			}
		}
		.social {
			grid-auto-flow: row;
			gap: 20px;
			margin-top -5px
			+media(768) {
				grid-row: 1
				justify-content: center;
			}
		}
		.social-title {
			font-setup(fmain, 22, 300);
			color: #fff;
			text-align center
		}
		.social-group {
			display: grid;
			grid-auto-flow: column;
			gap: 12px;
			+media(425) {
				gap: 7px;
			}
		}
		.social-item {
			width 32px
			height 32px
			border 2px solid #fff;
			radius: 100%;
			fill: #fff;
			padding .3rem;
			transition: .25s __cubic;
			&:hover {
				background-color #fff;
				fill: #000;
				transform scale(1.1)
			}
			&--triangle {
				position relative
				transition: .25s __cubic;
				&:before {
					transition: .25s __cubic;
					content: '';
					display: grid;
					border: 0.3125rem solid #0000;
					border-bottom: 0.3125rem solid #fff;
					border-left: 0.3125rem solid #fff;
					transform: skewX(-40deg) rotate(-22.7deg);
					position: absolute;
					left: -0.05rem;
					bottom: -0.05rem;
				}
				&:after {
					transition: .25s __cubic;
					content: '';
					display: grid;
					border: 0.3125rem solid #0000;
					border-bottom: 0.3125rem solid #000;
					border-left: 0.3125rem solid #000;
					transform: skewX(-40deg) rotate(-22.7deg);
					position: absolute;
					left: 2px;
					bottom: 2px;
				}
			}
		}
	}
}

.risk__social-item:hover.risk__social-item--triangle:after {
	border-bottom: 0.3125rem solid #fff;
	border-left: 0.3125rem solid #fff;
} 