//============================
//    	Name: CONFIG
//============================
 	$$null           = #0000;
/* ==== ----- ==== */

/* ==== BLOCK-CLASS-STRUCTURE ==== */
	__() {
		+prefix-classes('&'+ '__') {
			{block}
		}
	}

	radius(n) { 
		border-radius: n n n n;
	}

	glyph(n) {
			@extend {n}
	}

	media(n) {
		@media (max-width: n + .98px) {
			{block}
		}
	}
	min-media(n) {
		@media (min-width: n + .98px) {
			{block}
		}
	}

	key(n) {
		@keyframes {n} {
			{block}
		}
	}
	
	font-setup(a, b, c) {
		font-family: a;
		font-size: b px;
		font-weight: c;
	}
/* ==== ---- ==== */

/* ==== TRANSITION ==== */
	__cubic = cubic-bezier(0.4, 0.0, 0.2, 1);
/* ==== ----- ==== */

/* ==== SHADOW ==== */
	__shadow = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	__shadowHover = 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
/* ==== ----- ==== */



/* ==== SETTINGS ==== */

__fontSelected = fmain
	// * Body 
	__bodyFont = __fontSelected
	__bodyWeight = normal
	__bodySize = 16px
	__bodyColor = #2f2f2f
	__bodySpacing = normal
	__bodyLine = 141%

	// * Header
	__headerFont = __fontSelected
	__headerSize = 1rem
	__headerColor = #2f2f2f
	__headerSpacing = normal
	__headerLine = 141%

	// * Paragraph
	__paragraphFont = __fontSelected
	__paragraphSize = 0.88rem
	__paragraphColor = #2f2f2f
	__paragraphSpacing = normal
	__paragraphMargin = 0

	// * Href
	__hrefUnderline-true = underline;
	__hrefUnderline-false = none;
	__hrefFont = __fontSelected
	__hrefSize = 0.88rem
	__hrefColor = #2f2f2f;
	__hrefSpacing = normal
	__hrefUnderline = __hrefUnderline-false
/* ==== ----- ==== */

/* ==== BODY ==== */
	html, body {
		font-family __bodyFont
		font-size __bodySize
		font-weight __bodyWeight
		display block
	}
/* ==== ----- ==== */

/* ==== H1 - H6 ==== */
	for i in 1..6 {
		h{i} {
			font-family: __headerFont;
			letter-spacing: __headerSpacing;
			color: __headerColor;
			line-height: __headerLine;
			margin unset
		}
	}
	// * HH 
	h1
		font-size __headerSize + 1.5 
	h2
		font-size __headerSize + 1.0 
	h3
		font-size __headerSize + 0.5 
	h4
		font-size __headerSize + 0.1
	h5
		font-size __headerSize - 0.1 
	h6
		font-size __headerSize - 0.3 
/* ==== ----- ==== */

/* ==== Paragraph ==== */
	p {
		font-family __paragraphFont;
		font-size __paragraphSize;
		color: __paragraphColor;
		letter-spacing __paragraphSpacing
		margin __paragraphMargin
	}
/* ==== ----- ==== */

/* ==== HREF ==== */
	a, a:hover {
		letter-spacing __hrefSpacing; 
		text-decoration: __hrefUnderline;
		transition all .25s __cubic
		user-select none
	}
	a:hover {}
/* ==== ----- ==== */

/* ==== UL ==== */
	ul {}
	li {}
/* ==== ----- ==== */

/* ==== LABEL ==== */
	label span {}
/* ==== ----- ==== */

/* ==== NAVIGATION ==== */
	section {
		position: relative;
		overflow: hidden;
	}
	nav {
		font-style: normal;
	}
	address {
		font-style: normal;
	}
	span {}
	button {
		user-select none
	}
	select {}
	img {
		user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	picture {
		display: grid;
		justify-content: center;
		align-items: center;
	}
/* ==== ---- ==== */

/* ==== GLOBAL ==== */
	html { 
		box-sizing: border-box; 
	}
	*, *::before, *::after { 
		box-sizing: inherit; 
	}
	*:focus {
		outline 0
	}
/* ==== ---- ==== */

/* ==== FIREFOXFIX ==== */
	input:required,
	input:invalid {
		box-shadow:none;
	}
/* ==== ---- ==== */

/* ==== UPLOADFIX ==== */
	input[type=file]::-webkit-file-upload-button {
		border: none;
		margin: 0;
		padding: 0;
		-webkit-appearance: none;
		width: 0;
	}
/* ==== ---- ==== */

/* ==== VISIBILITY ==== */
	// * height 
	.height-true {
		height auto
	}
	.height-false {
		height 0
	}
	// * opacity 
	.opacity-true {
		opacity 1
	}
	.opacity-false {
		opacity 0
	}
	// * display 
	.display-true {
		display grid
	}
	.display-false {
		display none
	}
	// * js__display 
	.item-true {
		display grid
	}
	.item-false {
		display none
	}
	// * view 
	.view-true {
		visibility visible
	}
	.view-false {
		visibility hidden
	}
	.DELETE {
		display none !important
	}
	.DEL {
		display none !important
	}
/* ==== ---- ==== */

/* ==== OTHER ==== */
	input:disabled,
	textarea:disabled {
		background-color $$null
	}
	.img-fluid {
		max-width: 100%;
		height: auto;
	}
	.align-self-center {
		display grid
		align-self center
	}
	.ttu {
		text-transform: uppercase
	}
	
	.optional__section,
	.plugins__section,
	.null-to-null {
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		padding: 0;
		margin: 0;
	}
/* ==== ---- ==== */

/* ==== GLYPHS ==== */
.inline-svg__init {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	display: inline-grid;
	visibility visible
}

[class*='glyphs__'] {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}