/* ==== DEVICE ==== */
.__device__ {
	position fixed
	left 50%
	transform translate(-50%, 0)
	bottom 2.5%
	margin auto
	backface-visibility: hidden;
	&:before {
		content: '000';
		display: grid;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #f1f1f1;
		box-shadow: __shadow;
		color: #0f0f0f;
		font-size: 14px;
		font-weight bold
		line-height: normal;
		position: absolute;
		radius: 7px;
		transform translate(-50%, 0)
		transition .25s __cubic
		width: auto;
		height: auto;
		padding 4px 16px
		opacity .54

		+media(2560) {
			content: '2560';
		}
		+media(1920) {
			content: '1920';
		}
		+media(1600) {
			content: '1600';
		}
		+media(1366) {
			content: '1366';
		}
		+media(1199) {
			content: '1199';
		}
		+media(991) {
			content: '991';
		}
		+media(768) {
			content: '768';
		}
		+media(678) {
			content: '678';
		}
		+media(575) {
			content: '575';
		}
		+media(425) {
			content: '425';
		}
	}
	&:hover {
		&:before {
			opacity 1
			color: #43a5f3;
			background-color #e0f4fd;
		}
	}
}
/* ==== ---- ==== */