<div role="contentinfo" class="myfooter__section myfooter__background">
	<address class="myfooter__box">
		<div class="myfooter__item">
			<img class="myfooter__image" src="./media/img/main-assets/header-logo.png" alt="Picture" title="Picture">
			<p>© 2011-2018 TeleTrade-DJ International Consulting Ltd</p>
			<p>TeleTrade-DJ International Consulting Ltd is registered as a Cyprus Investment Firm (CIF) under registration number HE272810 and licensed by the Cyprus Securities and Exchange Commission (CySEC) under license number 158/11.</p>
			<p>The company operates in accordance with Markets in Financial Instruments Directive (MiFID).</p>
			<p>The information on this website is for informational purposes only. All the services and information provided have been obtained from sources deemed to be reliable. TeleTrade-DJ International Consulting Ltd ("TeleTrade") and/or any third-party information providers provide the services and information without warranty of any kind. By using this information and services you agree that under no circumstances shall TeleTrade have any liability to any person or entity for any loss or damage in whole or part caused by reliance on such information and services.</p>
			<p>TeleTrade cooperates with SafeCharge Limited, which is an electronic money institution authorized and regulated by the Central Bank of Cyprus and is a principal member of MasterCard Europe and Visa Europe. We also cooperate with Moneybookers and Neteller, which offer electronic e-wallet services authorized and regulated by the Financial Conduct Authority.</p>
</div>
			<div class="myfooter__item">
				<p>Please read our full Terms of Use.</p>
				<p>	To maximize our visitors browsing experience TeleTrade uses cookies in our web services. By continuing to browse this site you agree to our use of cookies. If you disagree, you may change your browser settings at any time. Read more</p>
				<p>TeleTrade-DJ International Consulting Ltd currently does not provide its services to residents or nationals of the USA, and also doesn't provide retail Forex and CFD accounts to residents or nationals of Belgium.</p>
			</div>
		

	</address>
</div>
