<section class="hero__section hero__box">
	<div class="dude dude__background" style="background-image: url(./media/img/main-assets/hero-background.png);">
		<div class="dude__box">
			<div class="dude__header">
				<div class="dude__header-item"><img src="./media/img/main-assets/header-logo.png" alt="Picture" title="Picture"></div>
					<div class="dude__header-item"><img src="./media/img/main-assets/sponsor.png" alt="Picture" title="Picture"><span class="dude__header-text">Official Forex Trading Sponsor<br>of Premier League Team Burnley F.C.</span></div>
				</div>
				<div class="dude__bluebox">
					<h1 class="dude__bluebox-title">Burnley F.C. vs Everton<br>Win a VIP ticket</h1>
					<div class="dude__bluebox-line">&nbsp;</div>
					<p class="dude__bluebox-text">Sign up for a Demo trading account and get the chance to win one of three VIP tickets for the upcoming home game between Burnley F.C. and Everton on Saturday, 3rd of March 2018. <br />
						It doesn't matter if you are a new or an experienced trader as TeleTrade enables you to practice with no risk under its premier trading conditions.</p>
					<p class="dude__bluebox-list-title">Why start trading with TeleTrade?</p>
					<ul class="dude__bluebox-list">

						<li>24/5 tailor-made customer support</li>
						<li>Tight Spreads</li>
						<li>Fast Execution</li>
						<li>EU Licensed and Regulated</li>
						<li>Daily market analysis</li>
						<li>Security of Funds</li>
						<li>Personal 1 on 1 training on Trading Platform usage</li>
						<li>Interactive Charts</li>
						<li>Economic Calendar</li>

					</ul>
				</div>

				<div class="dude__header-item dude__header-item--hidden"><img src="./media/img/main-assets/sponsor.png" alt="Picture" title="Picture"><span class="dude__header-text">Official Forex Trading Sponsor of Premier League Team Burnley F.C.</span></div>
			</div>
		</div>
		<aside class="signup signup__aside signup__background" style="background-image: url(./media/img/main-assets/blue-side.png);">
			<div class="signup__box">
				<div class="signup__logo"><img src="./media/img/main-assets/aside-logo.png" alt="Picture" title="Picture"></div>
					<div class="signup__logo-text">
						<p class="signup__logo-text-p">24 years<br> of Global Presence</p>
					</div>
					<form id="signup-form-id" class="signup__form" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">
						<div class="signup__form-title">Sign up</div>
						<label for="form-name" class="signup__label">&nbsp;</label>
						<input id="form-name" class="signup__input" type="text" name="name" placeholder="Name" required="">
						<label for="form-email" class="signup__label">&nbsp;</label>
						<input id="form-email" class="signup__input" type="email" name="email" placeholder="Email" required="">
						<label for="form-phone" class="signup__label">&nbsp;</label>
						<input id="form-phone" class="signup__input" type="tel" name="phone" placeholder="Phone" data-phone="true">

						<button class="signup__form-button">Open account</button>

						<input id="form-checkbox" class="signup__checkbox-input" type="checkbox" name="form-checkbox">
						<label for="form-checkbox" class="signup__checkbox-label">I agree for my personal data to be processed</label>

						<a class="signup__href" title="URL" role="link" href="#">Terms & Conditions  Privacy Policy</a>

						<p class="signup__form-desc">Trading embeds risk</p>
					</form>
				</div>
		</aside>
</section>


<section class="phone__section">
	<div class="phone__background">
		<div class="phone phone__box">
			<div class="phone__item phone__group">
				<div class="phone__image"><img src="./media/img/main-assets/phone-logo.png" alt="Picture" title="Picture"></div>
					<div class="phone__content">
						<h4 class="phone__content-title">On the Go Trading</h4>
						<p class="phone__content-text">Trade Cryptocurrency on your desktop, mobile and tablet using TeleTrade's custom designed trading platform. Follow the markets and manage your portfolio wherever you go.</p>
						<div class="phone__content-button">
							<a title="URL" role="link" href="#"><img src="./media/img/main-assets/phone-appstore.png" alt="Picture" title="Picture"></a>
							<a title="URL" role="link" href="#"><img src="./media/img/main-assets/phone-googleplay.png" alt="Picture" title="Picture"></a>
						</div>
					</div>
					<div class="phone__content phone__content--hidden">
						<h4 class="phone__content-title">TeleTrade App</h4>
						<p class="phone__content-text">Download the TeleTrade App NOW!
							Have 24/7 live trading signals, detailed fundamental and technical analysis, and the latest news and market updates, in the palm of your hand.</p>
						<div class="phone__content-button">
							<a title="URL" role="link" href="#"><img src="./media/img/main-assets/phone-appstore.png" alt="Picture" title="Picture"></a>
							<a title="URL" role="link" href="#"><img src="./media/img/main-assets/phone-googleplay.png" alt="Picture" title="Picture"></a>
						</div>
					</div>

				</div>
				<div class="phone__item phone__hand"><img src="./media/img/main-assets/phone-hand.png" alt="Picture" title="Picture"></div>
				</div>

			</div>
</section>

<section class="award__section award__background">
	<div class="award award__box">
		<div class="award__group">
			<h4 class="award__best-title">30+ International awards</h4>
			<div class="award__best-group">
				<div class="award__best-item"><img src="./media/img/main-assets/award-best-1.png" alt="Picture" title="Picture"></div>
					<div class="award__best-item"><img src="./media/img/main-assets/award-best-2.png" alt="Picture" title="Picture"></div>
						<div class="award__best-item"><img src="./media/img/main-assets/award-best-3.png" alt="Picture" title="Picture"></div>
							<div class="award__best-item"><img src="./media/img/main-assets/award-best-4.png" alt="Picture" title="Picture"></div>
							</div>
						</div>

						<div class="award__group award__group--lite">
							<h4 class="award__quest-title">Have a question?</h4>
							<p class="award__quest-text">We areready to assist you in every step of your trading experience <br> by providing 24/5 multilingual customer support.</p>
							<div class="award__quest-button">
								<a class="award__quest-live" title="URL" role="link" href="#">LIVE account</a>
								<a class="award__quest-demo" title="URL" role="link" href="#">DEMO account</a>
							</div>
						</div>
					</div>
</section>

<section class="team__section">
	<div class="team team__box">
		<div class="team__item">
			<img src="./media/img/main-assets/header-sponsor.png" alt="Picture" title="Picture">
			<p class="team__text">Official Forex Trading Sponsor of Premier League Team Burnley F.C.</p>
		</div>
		<div class="team__item team__item--image">
			<img src="./media/img/main-assets/team-league.png" alt="Picture" title="Picture">
</div>
		</div>
		<div class="team__line">&nbsp;</div>
</section>


<section class="risk__section risk__background">
	<div class="risk risk__box">
		<div class="risk__item">
			<div class="risk__text-icon"><img src="./media/img/main-assets/warning.png" alt="Picture" title="Picture"></div>
				<p class="risk__text">Risk Warning: Trading Forex and CFDs on margin carries a high level of risk and may not be suitable for all investors. Leverage can work both to your advantage and disadvantage. There is a possibility that you may lose all of your initial investments, so you should not risk more than you are prepared to lose. Prior to trading you should make sure you fully understand all the risks involved and take into consideration your level of experience and financial situation. TeleTrade strives to provide you with all the necessary information and protective measures, but if the risks seem still unclear to you, please seek independent advice.</p>
			</div>
			<div class="risk__item risk__social">
				<div class="risk__social-title">Follow us</div>
				<div class="risk__social-group">
					<a class="risk__social-item risk__social-item--triangle" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-phone"><use xlink:href="#id-glyphs-social-phone"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-email"><use xlink:href="#id-glyphs-social-email"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-facebook"><use xlink:href="#id-glyphs-social-facebook"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-twitter"><use xlink:href="#id-glyphs-social-twitter"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-linked"><use xlink:href="#id-glyphs-social-linked"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-insta"><use xlink:href="#id-glyphs-social-insta"></use></svg></a>
					<a class="risk__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-youtube"><use xlink:href="#id-glyphs-social-youtube"></use></svg></a>
				</div>
			</div>
		</div>
</section>

<div class="__device__">&nbsp;</div>
