<!--  META      -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<!--  FAVICON      -->
<link rel="icon" type="image/x-icon" href="./favicon.ico">
<link rel="icon" type="image/png" href="./favicon.png">
<!-- APPLE-WEB -->
<link rel="apple-touch-icon" href="./favicon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- Microsoft Tiles -->
<meta name="msapplication-config" content="./browserconfig.xml">
<!-- Helps prevent duplicate content issues -->
<!-- Use full HREF to this site!!1 -->
<link rel="canonical" href="./index.html">
<link rel="manifest" href="/manifest/manifest.json">
<!--  NAME      -->
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">
<meta name="format-detection" content="telephone=no">
<!--  SOCIAL-SEO      -->
<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="__@USERNAME__" />
<meta name="twitter:creator" content="__@USERNAME__" />
<!-- Open graph -->
<meta property="og:title" content="__TITLE_SITE__">
<meta property="og:description" content="__TITLE_SITE__">
<meta property="og:type" content="website">
<meta property="og:url" content="preview.jpg">
<meta property="og:image" content="preview.jpg">
<!--  CSS      -->
<style>html,body {visibility: hidden;	opacity: 0;	transition: opacity 1s ease}</style>

<link rel="preload" as="style" href="css/plugins.css" onload="this.rel = 'stylesheet'; ">
<link rel="preload" as="style" href="css/global.css" onload="this.rel = 'stylesheet'; ">

<script>
	if (navigator.userAgent.indexOf('Chrome') === -1) {
		setTimeout(() => {
			[...document.head.querySelectorAll('[rel="preload"]')]
			.map(i => i.setAttribute('rel', 'stylesheet') && i.removeAttribute('onload'));
		}, 250);
	}
</script>
<!--  NOSCRIPT      -->
<noscript><link rel="stylesheet" href="css/plugins.css"></noscript>
<noscript><link rel="stylesheet" href="css/global.css"></noscript>
<!--  JAVASCRIPT -->
<!-- <script async="" src="js/metrica.js"></script> -->
<!-- <script async src="js/plugins.js"></script> -->
<script async src="js/connect.js"></script>